* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {  
  background-color: #fdfdfd;
  font-family: 'Varela Round', sans-serif;  
}


/* fonts- how to use:
font-family: 'Varela Round', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Amatic SC', cursive; */
.top {
  text-align: center;
}

.logo {
  margin: 0 auto;
  position: absolute;
}

.heading {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  
  text-align: center;
  font-style: 400;
  font-size: 3rem;
}

.heading1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-top: 20px;
}

.heading2 {
  padding-bottom: 1.5%;  
}


.heading-underlined .heading {
  text-align: center;
  margin: auto;
  /* padding: 1.5%; */
}


/* ***********************************NAV***************************************** */

.navlist{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.navBarWord {
  padding: 0 20px;
  color: #070303;
  font-size: 1.3rem;  
  text-align: center;
  align-self: center;
  text-decoration: none ; 
  
  &:hover {
    font-weight: 500;
    border: transparent;
    border-bottom: #070303;
    
    border-width: 1px;
    border-style: dashed;
  }
}

.phoneNumber {
  display: inline-block;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-right: 20px;
  font-size: 0.9rem;  
}


/************************************ Carousel *****************************************/

.carousel-inner {
  width: auto;
  height: 120vh;  
}

/* ***********************************About us***************************************** */

.aboutUs {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  line-height: 2;
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  
}



/* *********************************** contact us ***************************************** */
.ctaImg {
  text-align: center;
  margin: 0 auto;
  background-image: url('../assets/otherImages/curtain.jpg');
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 60px;  
  border: 0;  
}

#contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.contactDetail {
  /* display: inline-block; */
  padding: 70px;
  
}

.inputBox {
  border-radius: 50px;
}

.inputLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputButton {
  border-radius: 20px;
  
}

.contactFont {
  /* font-family: 'Amatic SC', cursive; */
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

/* *********************************** How to get here***************************************** */


#navigationID {
  padding-top: 20px;
  height: auto;
  /* background-color: #ffe6eb;  */
  
  
}

.navigation {
  padding: 20px 70px 50px 70px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  
}




iframe {  
  width: 100%;
  height: 100%; 
}

.navHeading {
  font-size: 1.5rem;  
}



.instructions {
  margin-top: 10% 50% 0 0;
  text-align: right;
  display: inline-block;
  width: 50%;
  font-size: 1.4rem;
}

.address,
.publicTrans {
  display: inline-block;
}

.navins {
  width: 50%;
  display: inline-block;
}

.navLink {
  font-size: 4rem;
}

/* *********************************** footer ***************************************** */



.footer {
  text-align: center;  
  height: 300px;
  background-color: #F3DAD8; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footerIcons {
  text-align: center;  
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.iconLink { 
  font-size: 3rem; 
  text-decoration: none;
}



.footerRights {
  background-color: inherit;
  color: black;
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 0;
}

.footer-logo {
  width: auto;
  height: 15vh;
  margin: auto;
}

.lace {
  width: 100%;
}



/***********************************Image gallery *******************/

.box {
  width: auto;
  display: flex;
}

.gallery {
  width: auto;  
  margin: 20px 50px;
  columns: 15rem ;
  column-gap: 20px;
}

.gallery  .box {
  width: auto;
  margin-bottom:  10px;
  break-inside: avoid;
}

.gallery .box img {
  max-width: 100%;
  padding-top: 0px;  
  border-radius: 15px;
  transition: transform 1s;
  
  &:hover {
    transform: scale(1.1);
  }
  
}




.divider1 {
  height: 20px;
  background-image: url("../assets/otherImages/divider1.png ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



/* -------------------------------------media---------------------------------------- */

@media all and (max-width: 320px) {
  .contactDetail {
    display: block;
    padding: 5px;
  }
  
  .ctaImg {
    height: 600px;
  }
  
}


@media only screen and (max-width: 400px) {
  .navBarItem {
    font-size: 0.6rem;
  }
  
  .navBar {
    
    height: 120px; 
    padding-bottom: 50px;
  }

  .carousel-inner {
  width: auto;
  height: 60vh;  
}

.instructions {
  font-size: 1rem;
  width: 100%;
}

.googleMap {
  width: 100%;
}


  
}

@media only screen and (max-width: 500px) {
  .navBarItem {
    font-size: 1rem;
  }
  
}
@media only screen and (max-width: 900px) {
  .navBar {    
    padding-top: 0px;
    height: 80px;     
  }
  
}

@media only screen and (max-width: 1000px) {
  .navigation {    
    flex-direction: column;
    align-items: center;
    
  }
  
}


.iconsTest {
  background-color: aqua;
  height: 200px;
  width: 100%;
}